.card-location-content {
    text-align: center;
    padding-top: 0.75em;
}
.card-location-content {
    width: 100%;
}
.card-location-name {
    font-size: 2.5em;
}
.card-location-date {
    font-size: .40em;
    display: block;
    line-height: .75em;
}
.card-location-temp {
    text-align: center;
}
.card-temp-icon{
    font-size: 5em;
    padding: .5em 0 .25em 0;
}
.card-temp-description{
    font-size: 1em;
    padding-bottom: .75em;
    margin: 0;
}
.card-temp-value {
    font-size: 3em;
    padding-bottom: 0.5em;
}
.card-location-weather {
    width: 90%;
    margin: auto;
    border-top: 1px solid #999;
    text-align: center;
}
